<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/lib/Images/protect.ico" />

    <title>SMS - @ViewData["Title"]</title>
    <!-- Bootstrap core CSS -->
    <link href="~/lib/Bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/lib/Bootstrap/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><img src="~/lib/Images/MainMenu_Logo.png" width="200" /></div>
            <div class="list-group list-group-flush">
                <a href="@Url.RouteUrl("GetWebHook")" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="@Url.RouteUrl("SubscribeWebHook")" class="list-group-item list-group-item-action bg-light">Subscribe</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/Bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/Bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    
    @RenderSection("script", required: false)
</body>
</html>
